@import '../../global.scss';

.Register{
    // border: red 1px solid;
    text-align: center;
    // margin: 1rem;
    padding: 1rem;
    font-size: 2.5rem;
    font-family: 'Exo', sans-serif;
    color: beige;
    height: 100vh;
    .registerCredentials{
        // border: blue 1px solid;
        padding: 1rem auto;
        margin: 2rem auto;
        height: 75vh;
        width: 50vw;
        backdrop-filter: blur(5px);
        border-radius: 20px;
        .fieldInput{
            // border: green 2px solid;
            margin: 0.5rem;
            width: 90%;
        }
        .btn{
            height: 3rem;
            width: 6rem;
        }
    }
}