@import '../../global.scss';

.Chats{
    // border: red 2px solid;
    color: rgb(250, 246, 231);
    height: 100vh;
    width: 100vw;
    .chatBucket{
        // border: blue 2px dotted;
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 89vh;
        padding: 0.5rem;
    }
}