@import "../../global.scss";

.NavBar {
//   border: #ff0000 1px solid;
  color: black;
  .navContainer {
    height: 9vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .logo {
    //   border: #ff0000 1px solid;
      text-align: center;
      font-family: sans-serif;
      padding: 5px 2rem;
      letter-spacing: 0.2rem;
      color: teal;
      text-shadow: 2px 2px rgb(144, 170, 170);
    }
    .searchBtn {
    //   border: green 2px dotted;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
    }
    .notifContainer {
    //   border: blue 1px solid;
      width: 170px;
      height: 100%;
      margin-right: 2rem;
      display: flex;
      justify-content: space-evenly;
      flex-direction: row;
      align-items: center;
    }
  }
}
